.main-section{
background-image: url("../img/DklgioyH-item.jpeg");
height:400px;
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}
#nav{
   
    width: 100%;
   
}
.text-logo{
font-size: 25px;
color: aqua;
margin-left: 5px;
}
.logo-text {
text-align: center;
margin-top: 15%;
}
.nav-brand{
height: 50px;
}
.collapse{
margin-left: 20px;
}
.collapse ul li a{
margin-left: 50px;
}
.img-work{
margin-top: 40%;
margin-left: 10%;
}
.sider-text{
border: 1px solid black;
height: 50px;
}
.web-logo{
    padding-right: 10px;
    padding-left: 10px;

}
.web-logo img{
 margin-left: 70px;
}

@media only screen and (max-width: 600px) {
    .web-logo img {
      margin-left: 35%;
    }
  }
  footer{
      background-color: black;
      color: white;
      padding: 20px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }